<h1>Главная</h1>
<ul>
  <li><%= link_to 'Список станций', railway_stations_path %></li>
  <li><%= link_to 'Список поездов', trains_path %></li>
  <li><%= link_to 'Список маршрутов', routes_path %></li>
  <li><%= link_to 'Список вагонов', wagons_path %></li>
  <li><%= link_to 'Список билетов', tickets_path %></li>
</ul>
