<%= form_for(@ticket) do |f| %>

    <% render 'common/errors', resource: @ticket %>

    <div class="field">
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :user_name %><br>
      <%= f.text_field :user_name %>
    </div>

    <div class="field">
      <%= f.label :railway_station_start_id, 'Начальная станция' %>
      <%= f.collection_select :railway_station_start_id, RailwayStation.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :railway_station_end_id, 'Конечная станция' %>
      <%= f.collection_select :railway_station_end_id, RailwayStation.all, :id, :title %>
    </div>

    <div class="actions">
      <%= f.submit "#{@ticket.new_record? ? 'Создать' : 'Изменить'}" %>
    </div>
<% end %>
