<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @ticket.number %>
</p>

<p>
  <strong>Имя пассажира:</strong>
  <%= @ticket.user_name %>
</p>

<p>
  <strong>Начальная станция:</strong>
  <%= @ticket.start_station.title %>
</p>

<p>
  <strong>Конечная станция:</strong>
  <%= @ticket.end_station.title %>
</p>

<%= link_to 'Редактировать', edit_ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %>
